main pre[class*="language-"] {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main code[class*="language-"] {
    font-size: 12px; /* 調整這裡的數值來改變字體大小 */
}

.other-file{
    margin: 0 auto;  /* 居中對齊 */
    max-width: 800px;  /* 設置最大寬度 */
    padding: 20px;
}

.references{
    margin: 0 auto;  /* 居中對齊 */
    max-width: 800px;  /* 設置最大寬度 */
    padding: 20px;
}