:root {
    --background-color: #e0e0e0;
    --record-background-color: #e0e0e0;
    --color: #333333;
    --hover-color: #6d89c6;
    --record-dot-color: #666262;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --record-background-color: #4e4646;
        --color: #e0e0e0;
        --hover-color: #6d89c6;
    }
}

.light-theme{
    --background-color: #e0e0e0;
    --record-background-color: #e0e0e0;
    --color: #333333;
    --hover-color: #6d89c6;
}

.dark-theme{
    --background-color: #333333;
    --record-background-color: #4e4646;
    --color: #e0e0e0;
    --hover-color: #6d89c6;
}

main {
    max-width: 550px;
    /* 設置最大寬度 */
}

main .archive {
    display: flex;
    justify-content: left;
    padding: 20px;
    position: relative;
}

main .archive .year {
    font-size: small;
    margin-top: 0;
    margin-right: 2rem;
    padding-bottom: 1px;
}

main .archive .year {
    border-bottom: 1px solid var(--color);
}


main .archive .vertical-line .record {
    position: relative;
    /* 為了讓偽元素的 absolute 有個對比的模板 */
    display: flex;
    margin: 0 auto;
    /* 居中對齊 */
    max-width: 650px;
    /* 設置最大寬度 */
    align-items: baseline;
    /* 確保子元素在同一條底線上 */
}

main .archive .vertical-line .record {
    border-left: var(--color) 1px dashed;
}

main .archive .vertical-line .record ::before {
    content: '';
    position: absolute;
    left: -5.5px;
    top: 35%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--record-dot-color);

}

.archive .vertical-line .record ::before {
    background: var(--record-background-color);
}

main .archive .vertical-line .record .date {
    color: #969393;
    ;
    padding-left: 2rem;
    font-size: 10px;
}

main .archive .vertical-line .record .note {
    padding-left: 1.5rem;
}