a.note {
    padding: 5px 10px;
}

span.date {
    color: #969393;
    max-width: 100px;
}


.category_title {
    margin-bottom: 0;
}

ul {
    margin-top: 1rem;
    color: #969393;
}

.tags-section .date,
.tags-section .note {
    display: table-cell;
}

.tags-section .date {
    width: 100px;
    /* 根據需要調整寬度 */
}