:root {
    --record-background-color: #e0e0e0;
    --quote_color: #333333;
    --quote_border: #333333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --record-background-color: #4e4646;
        --quote_color: #c7c4c4;
        --quote_border: #918f8f;
    }
}

.light-theme {
    --record-background-color: #e0e0e0;
    --quote_color: #333333;
    --quote_border: #333333;
}

.dark-theme {
    --record-background-color: #4e4646;
    --quote_color: #c7c4c4;
    --quote_border: #918f8f;
}

div.note-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
}

.note-content #outline {
    max-width: 325px;
    padding: 2rem;
    flex-grow: 1;
    flex-shrink: 0;
}

.note-content #main-content {
    flex-basis: 0;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
    flex-grow: 2;
}

.note-content #sidebar {
    max-width: 325px;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
}




.note-title {
    margin: 0;
}

.date-and-tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
}

.tags {
    margin: 0 0 0 0;
    /* 居中對齊 */
    max-width: 650px;
    /* 設置最大寬度 */
    padding: 0;
}

.tag {
    border-radius: 20px;
    border: 1px solid;
    font-size: 12px;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
    cursor: pointer;
}

.tag:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.tags .tag a {
    text-decoration: none;
    color: var(--color);
    border-color: var(--color);

}

main .code-container {
    border: #515050 solid 1px;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}

main .code-container .code-information {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1b;
    height: 2rem;
    align-items: flex-end;
    border-radius: 1rem 1rem 0 0;
}

main .code-container .code-information .language,
main .code-container .code-information .copy_button {
    /*上右下左*/
    padding: 0 1rem 0.3rem 1rem;
    font-size: 12px;
    color: #e0e0e0;
}

main .code-container .code-information .copy_button:hover {
    color: #6d89c6;
}

main .code-container pre {
    /*上右下左*/
    margin: 0 0 0 0;
    border-radius: 0 0 1rem 1rem;
}

main .code-container code[class*="language-"] {
    font-size: 12px;
    /* 調整這裡的數值來改變字體大小 */
}

.date {
    font-size: 0.8rem;
}

main .quote {
    border-left: 2px solid var(--quote_border);
    font-style: italic;
    font-size: 95%;
    text-align: left;
    color: var(--quote_color);
    padding: 0px 2% 0px 2%;
    margin-top: 0;
    margin-bottom: 0;
}

main .quote .author {
    text-align: right;
}

p.list-context {
    margin-bottom: 0rem;
}

p span.bold {
    color: #c66d6d;
    font-weight: 800;
}

div[id*="anchor"] {
    scroll-margin-top: 15rem;
}

li[class*="outline-level-"] {
    font-style: italic;
}

button#outline-toggle {
    background: none;
    border: none;
}

p.img_description {
    text-align: center;
    color: var(--quote_color);
    font-size: 80%;
}

section.outline {
    position: fixed;
    top: 224px;
    padding: 50px;
    margin: 0 0 2rem 0;
}

section.outline ol {
    margin-left: -1rem;
}

section.outline li {
    text-indent: 0.8rem;
}

section.high-light {
    background: var(--highlight);
}

@media (max-width : 1100px) {

    #sidebar,
    #outline {
        display: none;
    }
}