:root {
    --background-color: #e0e0e0;
    --color: #333333;
    --hover-color: #6d89c6;
    --max-width : 650px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333333;
        --color: #e0e0e0;
        --hover-color: #6d89c6;
    }
}
.light-theme{
    --background-color: #e0e0e0;
    --record-background-color: #e0e0e0;
    --color: #333333;
    --hover-color: #6d89c6;
}

.dark-theme{
    --background-color: #333333;
    --record-background-color: #4e4646;
    --color: #e0e0e0;
    --hover-color: #6d89c6;
}

/* 全局樣式 */
body {
    font-family: "Optima", "Segoe UI", Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    line-height: 2;
    margin: 0;
    padding: 5%;
    padding-top: 0;
    background-color: var(--background-color);
    /* 使用淺色背景 */
    color: var(--color);
    /* 深色文字 */
}

a {
    color: var(--color);
}

a:hover {
    color: var(--hover-color);
}

/* 頁首樣式 */
header {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    display: flex;
    /* flexbox 布局 */
    justify-content: space-between;
    /* 使兩端對齊，中間留空*/
    text-align: left;
    margin-bottom: 20px;
    /* 添加下邊距 */
}

.blog_name a {
    text-decoration: none;
}

/* #menu-toggle {
    display: none;
    background: none;
    border: none;
} */

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

/* #nav-menu.closed {
    display: none;
}



@media (max-width:768px) {
    #menu-toggle {
        display: block;
        color: red;
        font-size: 1.5rem;
    }

    header nav ul {
        list-style: none;
        padding: 0;
    }

    header nav ul li {
        display: inline;
        margin-right: 10px;
    }

    #nav-menu.closed {
        display: none;
    }
} */

header nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--color);
}

#theme-toggle {
    background: none;
    border: none;
    padding-left: 0;
    font-size: 15px;
}

/* 主要內容區域樣式 */
main {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    padding: 20px;
}

/* 頁尾樣式 */
footer {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    text-align: center;
    margin-top: 20px;
}