:root {
    --background-color: #fffcf2;
    --color: #333333;
    --hr-color: #eceae5;
    --hover-color: #6d89c6;
    --max-width: 650px;
    --img-brightness: 100%;
    --highlight: #e4e1d6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #313032;
        --color: #e0e0e0;
        --hr-color: #6c6b6b;
        --hover-color: #6d89c6;
        --img-brightness: 90%;
        --highlight: #453f34;
    }
}

.light-theme {
    --background-color: #fffcf2;
    --record-background-color: #e0e0e0;
    --color: #333333;
    --hr-color: #eceae5;
    --hover-color: #6d89c6;
    --img-brightness: 100%;
    --highlight: #e4e1d6;
}

.dark-theme {
    --background-color: #313032;
    --record-background-color: #4e4646;
    --color: #e0e0e0;
    --hr-color: #6c6b6b;
    --hover-color: #6d89c6;
    --img-brightness: 90%;
    --highlight: #453f34;
}

.high-light {
    background: var(--highlight);
}

/* 全局樣式 */
body {
    font-family: "Poppins", "Noto Sans TC", "Segoe UI", Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    line-height: 2;
    margin: 0;
    padding: 5%;
    padding-top: 0;
    background-color: var(--background-color);
    /* 使用淺色背景 */
    color: var(--color);
    /* 深色文字 */
}

h1 {
    font-size: 2rem;
}

h2.primary_header {
    font-size: 1.6rem;
    margin-top: 3rem;
}

h3 {
    margin-top: 3rem;
    font-size: 1.3rem;
}

p {
    margin: 2rem 0 2rem 0;
}

a {
    color: var(--color);
}

a:hover {
    color: var(--hover-color);
}

hr {
    border: 1px solid var(--hr-color);
    margin-top: 3rem;
    margin-bottom: 4rem;
}

/* 頁首樣式 */
header {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    display: flex;
    /* flexbox 布局 */
    justify-content: space-between;
    /* 使兩端對齊，中間留空*/
    text-align: left;
    margin-bottom: 20px;
    /* 添加下邊距 */
    align-items: baseline;
}

.blog_name a {
    text-decoration: none;
}

header #menu-toggle {
    display: none;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--color);
}

#theme-toggle {
    background: none;
    border: none;
    padding-left: 0;
    font-size: 1rem;
}




@media (max-width : 768px) {

    header #menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: var(--color);
        background-color: var(--background-color);
        border: 0;
        margin-left: auto;
    }


    header #menu-toggle:hover {
        color: var(--hover-color);
    }

    header nav ul.open {
        max-height: 500px;
        /* 根據內容調整 */
        transition: max-height 0.3s ease-in-out;
    }

    header nav ul.close {
        overflow: hidden;
        /* 隱藏溢出的內容 */
        max-height: 0;
        /* 初始狀態高度為0 */
        transition: max-height 0.3s ease-out;
        /* 添加過渡效果 */
    }

    header nav ul li {
        display: block;
        margin-right: 0;
        text-align: right;
    }
}

/* 主要內容區域樣式 */
main {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    padding: 20px;
}

main img {
    max-width: 100%;
    margin: auto;
    display: block;
    filter: brightness(--img-brightness);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}


/* 頁尾樣式 */
footer {
    margin: 0 auto;
    /* 居中對齊 */
    max-width: var(--max-width);
    /* 設置最大寬度 */
    text-align: center;
    margin-top: 20px;
}